<head>
    <script src="https://kit.fontawesome.com/759e57a952.js" crossorigin="anonymous"></script>
</head>

<div style="justify-items: center; margin-bottom: 2%;">
    <div id="content">
        <div id="title-area">
            <h2> Editar Item </h2>
        </div>

        <form (ngSubmit)="onSubmit()">
            <div id="form-area">
                <div id="input-type">
                    <label for="types" class="label">Tipo do item</label>
                    <select name="types" #inputType [(ngModel)]="item.type" class="form-control" id="types-select">
                        <option value="" disabled selected>-- Escolha o Tipo --</option>
                        <option value="Acessório">Acessório</option>
                        <option value="Documento">Documento</option>
                        <option value="Dispositivo">Dispositivo</option>
                        <option value="Outro">Outro</option>
                    </select>
                </div>
                <div id="input-text">
                    <label for="description" class="label">Descrição</label>
                    <input name="description" #inputDescription [(ngModel)]="item.description" type="text"
                        class="form-control">
                </div>
            </div>
            <div class="form-group action-area">
                <a routerLink="../../items" routerLinkActive="active">
                    <button class="btn btn-default orange-button">
                        <fa-icon [icon]="faTimes"></fa-icon>
                        Cancelar
                    </button>
                </a>
                <a>
                    <button (click)="resetEdit()" class="btn btn-default orange-button" type="button">
                        <fa-icon [icon]="faUndo"></fa-icon>
                        Desfazer
                    </button>
                </a>
                <a>
                    <button class="btn btn-default orange-button" type="submit">
                        <fa-icon [icon]="faCheck"></fa-icon>
                        Salvar
                    </button>
                </a>
            </div>
        </form>
    </div>